/*全局样式表,同级样式可使用!important进行覆盖*/

#app{
  height: 100%;
  margin: 0;
  padding: 0;
}
.ql-editor{
  min-height:300px;
}
.ivu-list-item-meta-title{
  cursor: pointer;
}
div.ivu-list-item-meta-title:hover{
  color: #3399ff;
}
.ivu-layout-content{
  background-color: white;
}
